.card{
    display: flex;
    align-items: right;
    text-align: center;
    position: relative;
    background-color: gray;
    background-color: #FFFFCC;
    box-shadow: 0 0 5px 2px;
    height: 300px;
    width: 700px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cardflip{
    border-radius: .25rem;
  }